#head {
    padding-top: 20px;
    padding-left: 160px;
    padding-bottom: 10px;
  }
  
  #search-buffer {
    padding-left: 10px; 
  }
  
  #mm {
    padding-left: 30px;
  }
  
  .navitem {
  }
  
  #search-buffer-button {
    padding-left: 10px;
  }